.__nav-container{
    height: 90px;
    background-color: black;
    cursor: pointer;
}
.__nav-logo{
    position: relative;
    display: flex;
    flex-direction: row; 
    justify-content: left;   
    align-items: center;
    top: 29px;
    left: 104px;
}
.__nav-links{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 200px;
    top: 8px;
    position: relative;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.__nav-reg,
.__nav-about,
.__nav-contect{
    padding-left: 60px;
    position: relative;
}
.__nav_button{
    display: flex;
    justify-content: end;
    position: relative;
    bottom: 25px;
    right: 35px;
}
.__nav_button-login{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 28px;
    padding-right: 28px;
    color: white;
    background: #FF3838;
    border: 1px solid #000000;
    border-radius: 8px;

}