*{
    margin: 0px;
    padding: 0px;
    box-shadow: border-box;
}
body{
    background-color: black;
}
._nav-container{
    display: flex;
    flex-direction: row;
}
._nav-img{
    
    position: absolute;
    width: 139px;
    height: 48px;
    left: 104px;
    top: 21px;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
}
._nav-text {
    flex: 1;
    display: flex;
    flex-direction: row;
    
}
